body{
	font-family: 'Titillium Web', sans-serif;
}

.titulo,h1{
	font-size: 1.9rem;
}


h2{font-size: 66px; font-weight: 600; line-height: 80px;}
h3{font-size: 55px; margin-bottom: 30px;}

p{
  font-size: 18px; 
  color: #999999;
  line-height: 1.8;
  margin-bottom: 0;
}

a:hover{
	text-decoration:none;
}

section{
	padding: 120px 0;
}

.bg-light-grey{ background-color: #f5f5f5;}


.topmargin-xs{margin-top: 15px;}
.topmargin-sm{margin-top: 30px;}
.topmargin-lg{margin-top: 80px;}

.btn{
	font-size:14px;
	padding: 15px 26px;
	min-width: 160px;
	border-radius: 2px;
	display: inline-block;
}

.btn-light{
	background-color: white;
	color: black;
	border:2px solid white;
}

.btn i {
	font-size: 14px; margin-left: 10px;
}

.navbar{
	margin-bottom: 1px;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0 ,0 ,.05);
	min-height: 100px;
}

.nav-link{color: black;}

.nav-link:hover{color: #1a1a1a;}

.logo{
	min-width: 50px;
	max-width: 70px;
}



#hero{
	background-image: url("imagenes/herodef.jpg");
	background-size: cover;
	padding-top: 90px;
	min-height: 600px;
	color: white;
}

#hero p{
	color: white;
}

.content-center{
	margin-top: 800px;
	margin: 0 auto 60px auto;
	text-align: center;
}

.Portafolio-container{
	position: relative;
	overflow: hidden;
	margin: 10px 0;
	border-radius: 2px;
}

.Portafolio-container img{
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}

.Portafolio-container:hover img{
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}



.col-md-6{ 
	border: solid 1px gray;
	background-color: gray
}

.Portafolio-details a h2, .Portafolio-details a p {
	color: #98E6FE;
}

.descripcion h3{
	margin-top: 50px;
	background-color: red;
}


@media (max-width: 575.98px) { ... }

@media (min-width: 576px) and (max-width: 767.98px) { h1 {font-size: 40px; line-height: normal;} }

@media (min-width: 768px) and (max-width: 991.98px) { ... }

@media (min-width: 992px) and (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { ... }